Repository microsoft/recommenders, pull requests merged in 2019-03, with the labels that each got.

#594 Update SETUP.md
  SETUP.md
Labels: documentation

#546 Surprise SVD tuning notebook with Hyperdrive
  notebooks/02_model/surprise_svd_deep_dive.ipynb
  notebooks/04_model_select_and_optimize/README.md
  notebooks/04_model_select_and_optimize/azureml_hyperdrive_tuning_svd.ipynb
  reco_utils/aml/svd_training.py
  reco_utils/recommender/surprise/surprise_utils.py
  tests/unit/test_surprise_utils.py
Labels: azureml, milestone, notebook, tuning

#626 Andreas/rename notebooks
  notebooks/04_model_select_and_optimize/README.md
  notebooks/04_model_select_and_optimize/azureml_hyperdrive_surprise_svd.ipynb
  notebooks/04_model_select_and_optimize/azureml_hyperdrive_wide_and_deep.ipynb
  notebooks/04_model_select_and_optimize/tuning_spark_als.ipynb
  tests/conftest.py
  tests/unit/test_notebooks_pyspark.py
Labels: notebook, tuning

#638 Update azureml directory in azureml_hyperdrive_surprise_svd.ipynb
  notebooks/04_model_select_and_optimize/azureml_hyperdrive_surprise_svd.ipynb
Labels: bug, notebook, tuning

#637 Negative sampling utility
  reco_utils/common/constants.py
  reco_utils/dataset/pandas_df_utils.py
  tests/unit/test_pandas_df_utils.py
Labels: data

#671 Updates to Spark configuration used in tests
  reco_utils/common/general_utils.py
  tests/conftest.py
Labels: bug, build, test
