Repository microsoft/recommenders, pull requests merged in 2019-04, with the labels that each got.

#681 Papermill scalffold example
  notebooks/00_quick_start/sar_movielens_with_azureml.ipynb
  notebooks/run_notebook_on_azureml.ipynb
  scripts/generate_conda_file.py
Labels: azureml

#687 Notebook showcasing NNI on Surprise SVD
  notebooks/04_model_select_and_optimize/README.md
  notebooks/04_model_select_and_optimize/azureml_hyperdrive_surprise_svd.ipynb
  notebooks/04_model_select_and_optimize/nni_surprise_svd.ipynb
  reco_utils/nni/nni_utils.py
  reco_utils/nni/svd_training.py
  scripts/generate_conda_file.py
  tests/conftest.py
  tests/integration/test_notebooks_python.py
  tests/unit/test_nni_utils.py
  tests/unit/test_notebooks_python.py
Labels: notebook, tuning

#745 README in benchmark folder
  benchmarks/README.md
Labels: documentation
